{% if site.data.projects %}
<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projets</h2>
    {% for intro in site.data.projects %}
    <div class="intro">
        <p>{{ intro.description }}</p>
    </div>
    {% endfor%}
    {% for project in site.data.projects %}
    <div class="item">
        <h3 class="job-title">{{ project.title }}</h3>
        <div class="company">{{ project.company }}</div>
        {% if project.tagline %}
        <div class="project-tagline">
            <p>{{ project.tagline | markdownify }}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</section>
{% endif %}